<!-- <h2>Sign up</h2> -->
<h2>Registro</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <strong><%= f.label 'Nombre de usuario:' %></strong><br />
    <%= f.text_field :username, autofocus: true, placeholder: 'Ingrese nombre de usuario' %>
  </div>
  <div class="field">
    <strong><%= f.label :email %></strong><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'ejemplo@ioactive.com' %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Ingrese contraseña' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirmar contraseña' %>
  </div>

  <div class="actions">
      <%= f.submit "Registrarse", class: 'btn btn-outline-success' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
