<!DOCTYPE html>
<html>
  <head>
    <title>Blognews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- added by nl, Dec 09, 2020 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>
    <!-- navabar -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Potal Web de Noticias</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <!-- <li class="nav-item active">
      <a class="nav-link" href="Controlador?accion=Listar">Home <span class="sr-only">(current)</span></a>
    </li> -->
    <!-- <li class="nav-item">
      <a class="nav-link" href="Controlador?accion=Admin">Servicios</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" href="Controlador?accion=Admin">
        <!-- Admin -->
      </a>
    </li>
<li class="nav-item">
    <a class="nav-link" href="Controlador?accion=Nuevo">
      <!-- Agregar Noticias  -->
    </a>
</li>
</ul>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

<ul class="navbar-nav">
    <li class="nav-item dropdown">
  <!-- <a class="nav-link dropdown-toggle" href="Controlador?accion=Login" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Iniciar Sesión
  </a> -->
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="">
       <%= link_to 'salir', destroy_user_session_path, class: 'btn btn-outline-danger', method: :delete %>
     </a>
   </li>
</ul>
    <span class="navbar-text">
      <% if current_user %>
        <% if current_user.username == "admin" %>
        Usuario: <%= current_user.username %> <%= "   | ADMIN  " %>
        <% else %>
          Usuario: <%= current_user.username %>
        <% end %>
      <% end %>
    </span>

</div>
</nav>
</header>
    <!-- fin navbar -->
    <div class="container">
       <ul>
        <% if user_signed_in? %>
          <!-- <li>Hi, user</li>
          <li>Sign Out</li> -->
          <!-- <li><%= link_to 'Exit', destroy_user_session_path, method: :delete, data: { confirm: 'are you sure?'}  %></li> -->
        <% else %>
          <!-- <li>Sign In</li>
          <li>Sign Up</li> -->
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <% end %>
      </ul>
      <!-- <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> -->
      <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>

      <footer>
        <center>
      <div class="container">
        Nic Lorenzo | 2020
      </div></center>
    </footer>
    </div>
  </body>
</html>
